<div class="form-control">
  <%= f.label :role, class: 'label' %>
  <% if Docuseal.multitenant? %>
    <%= f.select :role, nil, {}, class: 'base-select' do %>
      <option value="admin"><%= t('admin') %></option>
      <option value="editor" disabled><%= t('editor') %></option>
      <option value="viewer" disabled><%= t('viewer') %></option>
    <% end %>
    <label class="label">
      <span class="label-text-alt">
        <%= t('click_here_to_learn_more_about_user_roles_and_permissions_html') %>
      </span>
    </label>
    <%= render 'role_descriptions_reference' %>
  <% else %>
    <%
      role_options = User::ROLES.map { |r| [t(r), r] }
      if f.object.role.present? && User::ROLES.exclude?(f.object.role)
        role_options.unshift([t(f.object.role, default: f.object.role.to_s.tr('_', ' ').humanize), f.object.role])
      end
    %>
    <%= f.select :role, role_options, {}, class: 'base-select' %>
    <%= render 'role_descriptions_reference' %>
  <% end %>
</div>
