<% content_for(:html_title, "#{@submitter.submission.name || @submitter.submission.template.name} |FirstSign") %>
<% I18n.with_locale(@submitter.account.locale) do %>
  <% content_for(:html_description, t('account_name_has_invited_you_to_fill_and_sign_documents_online_effortlessly_with_a_secure_fast_and_user_friendly_digital_document_signing_solution', account_name: @submitter.account.name)) %>
<% end %>
<div class="max-w-md mx-auto px-2 mt-12 mb-4">
  <div class="space-y-6 mx-auto">
    <div class="space-y-6">
      <div class="flex items-center justify-center">
        <%= render 'start_form/banner' %>
      </div>
      <div class="flex items-center bg-base-200 rounded-xl p-4 mb-4">
        <div class="flex items-center">
          <div class="mr-3">
            <%= svg_icon('writing_sign', class: 'w-10 h-10') %>
          </div>
          <div>
            <p dir="auto" class="text-lg font-bold mb-1"><%= @submitter.submission.name || @submitter.submission.template.name %></p>
            <% last_submitter = @submitter.submission.submitters.completed.order(:completed_at).last %>
            <% if last_submitter %>
              <p dir="auto" class="text-sm">
                <%= t(last_submitter.with_signature_fields? ? 'signed_on_time' : 'completed_on_time', time: l(last_submitter.completed_at.to_date, format: :long)) %>
              </p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div>
      <%= t('the_sender_has_requested_a_two_factor_authentication_via_authenticator_app') %>
    </div>
    <%= form_for '', url: submit_form_totp_2fa_path, method: :post, html: { class: 'space-y-4', id: 'totp_form' } do |f| %>
      <div dir="auto" class="form-control !mt-0">
        <%= f.hidden_field :submitter_slug, value: @submitter.slug %>
        <%= f.text_field :otp_attempt, required: true, autocomplete: 'one-time-code', inputmode: 'numeric', class: 'base-input text-center', placeholder: 'XXX-XXX' %>
        <div class="flex justify-between items-center mt-1">
          <span>
            <% if flash[:alert] %>
              <span class="text-red-500">
                <%= flash[:alert] %>
              </span>
            <% end %>
          </span>
        </div>
      </div>
      <toggle-submit dir="auto" class="form-control">
        <%= f.button button_title(title: t('submit')), class: 'base-button' %>
      </toggle-submit>
    <% end %>
  </div>
</div>
